---
permalink: '/_redirects'
eleventyExcludeFromCollections: true
---
/privacy/ https://serverless-gems.dev/privacy/
/license/ https://serverless-gems.dev/license/
/about/ https://serverless-gems.dev/about/

/functions/ / 301

{# Misc #}
/sitemap/ /sitemap.xml
/sitemap_index.xml /sitemap.xml
